@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  /* color: #fff; */
}

header {
  background: #202846;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  padding-left: 70px;
  height: auto;
  width: 80px;
}

header nav {
  float: right;
  width: 70%;
  position: relative;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 34px;
  padding: 0;
  margin: 0;
}

header nav ul li {
  flex: none;
  text-align: center;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.personal-account {
  text-align: center;
  padding: 0 28px;
}

.language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-current {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.globe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.globe img {
  width: 40px;
  height: 40px;
}

.language-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #202846;
  text-align: center;
}

.language-list div {
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.language-list div:hover {
  background: #3e4d81;
}

.ua a {
  padding-top: 22px;
}

.divider {
  width: 1px;
  height: 40px;
  background: #fff;
  flex-shrink: 0;
}

.main-page {
  margin: 0 80px;
}

footer {
  background: #202846;
  color: #fff;
}

footer h3 {
  font-size: 36px;
}
