@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background: #dcdcdc;
  /* color: #fff; */
}

header {
  background: #202846;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  padding-left: 70px;
  height: auto;
  width: 80px;
}

header nav {
  float: right;
  width: 70%;
  position: relative;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 34px;
  padding: 0;
  margin: 0;
}

header nav ul li {
  flex: none;
  text-align: center;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.personal-account {
  text-align: center;
  padding: 0 28px;
}

.language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.language-current {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.globe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.globe img {
  width: 40px;
  height: 40px;
}

.language-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(28%);
  background: #202846;
  text-align: center;
}

.language-list div {
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.language-list div:hover {
  background: #3e4d81;
}

.ua a {
  padding-top: 22px;
}

.divider {
  width: 1px;
  height: 40px;
  background: #fff;
  flex-shrink: 0;
}

.main-page {
  margin: 0 108px;
}

.first-poster {
  background: url("/images/holiday-time.png") no-repeat center center;
  background-size: cover;
  margin-top: 30px;
  height: 369px;
}

.first-poster h2,
h3 {
  color: #fff;
  text-align: center;
}

.first-poster h2 {
  font-size: 55px;
  font-weight: 700;
  padding-top: 110px;
}

.first-poster h3 {
  font-size: 40px;
  font-weight: 700;
}

.second-poster {
  background: url("/images/brown-home.png");
  height: 604px;
  margin: 30px 0;
  position: relative;
}

.second-poster button {
  background-color: #202846;
  color: #fff;
  position: absolute;
  right: 244px;
  bottom: 142px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.second-poster .arrow {
  width: 28px;
  height: auto;
}

.text {
  background-color: rgba(255, 255, 255, 0.8);
  height: 167px;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
  z-index: 1;
}

.text p {
  font-size: 20px;
  font-style: italic;
}

.three-poster {
  background: #c1c1c3;
  height: 412px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.couple img {
  height: 350px;
  width: 580px;
}

.couple-text {
  background: #eaeaeb;
  height: 349px;
  width: 520px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.couple-text p {
  font-size: 20px;
  margin: 0;
}

.contact-us {
  background: #f2eeee;
  height: 400px;
  width: 440px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.contact-us h3 {
  font-size: 28px;
  align-items: center;
  color: #414141;
  padding-top: 12px;
}

.contact-us .inline {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.contact-us form {
  display: flex;
  flex-direction: column;
}

.contact-us form div {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

.contact-us input,
button {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
}

.contact-us label {
  padding-bottom: 14px;
}

.name {
  font-size: 20px;
  color: #323236;
}

.phone {
  font-size: 20px;
  color: #323236;
}

.contact-us button {
  background: #444765;
  width: 440px;
  height: 70px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  color: #fff;
  bottom: 0;
}

footer {
  background: #202846;
  color: #fff;
}

footer h3 {
  font-size: 36px;
}
